<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="display-4 mb-3">Stupid coaching</h1>
      <form action="/answer" data-turbo="false">
        <label class="sr-only mb-2" for="inlineFormInput">Ask your coach anything:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control mb-2" name="question" placeholder="What time is it?">
            <input type="submit" class="btn btn-outline-primary mb-2" value="Ask!">
        </div>
      </form>
    </div>
  </div>
</div>
